<section class="counter-area pt-9 pt-lg-13  pb-10 pb-lg-15">
    <div class="container">
        <div class="row">
            <div class="col-6 col-xl-3">
                <div class="counter-box text-center mt-3">
                    <div class="counter-icon">
                        <img src="{{'/assets/images/counter-icon1.svg' | relative_url}}" alt="title">
                    </div>
                    <div class="counter-content">
                        <h2 class="display-2 my-2"><span class="counter-number">400</span>+</h2>
                        <p class="m-0 fw-bold">Prorgressive Report</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-xl-3">
                <div class="counter-box text-center mt-3">
                    <div class="counter-icon">
                        <img src="{{'/assets/images/counter-icon2.svg' | relative_url}}" alt="title">
                    </div>
                    <div class="counter-content">
                        <h2 class="display-2 my-2"><span class="counter-number">1200</span></h2>
                        <p class="m-0 fw-bold">New Coin Launched</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3">
                <div class="counter-box text-center mt-3">
                    <div class="counter-icon">
                        <img src="{{'/assets/images/counter-icon3.svg' | relative_url}}" alt="title">
                    </div>
                    <div class="counter-content">
                        <h2 class="display-2 my-2"><span class="counter-number">100</span> %</h2>
                        <p class="m-0 fw-bold">Accurate Price Prediction</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3">
                <div class="counter-box text-center mt-3">
                    <div class="counter-icon">
                        <img src="{{'/assets/images/counter-icon4.svg' | relative_url}}" alt="title">
                    </div>
                    <div class="counter-content">
                        <h2 class="display-2 my-2"><span class="counter-number">940</span> +</h2>
                        <p class="m-0 fw-bold">ICO Blockchain Manage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>